*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    animation: bod 5s  infinite both alternate;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center ;
}
a{

    color: black;
}
.box{
    height:200px;
    width:600px;
    display: flex;
    font-size: 1px;
    justify-content: center;
    align-items: center;
    animation: box 5s  100 both alternate-reverse;
    border-radius: 50px;
    border:10px solid blue;
    

}
 @keyframes box{
    from{
        transform: scale(99);
        background:red;    }
    to{
        background-color:black;

    }
}
@keyframes bod {
    from{
        background:red;
    }
    to{
        background:black;
    }
}
